h1{
    color:#1b74e4
}
p{
    color:white;
    background-color: black;
}
*{
    font-family: cursive;
}
#Search{
    background-color: black;
color:white;
}
button{
    background-color: aqua;
}
h2{
    color:skyblue;
}